.counter-container {
  width: 6rem;
  height: 3rem;
  position: relative;
}
.count-input {
    /* display: inline-block; */
    width: 2rem;
    height: 2rem;
    border-style: none;
    text-align: center;
    position: absolute;
    top: .5rem;
    right: 1.9rem;
    background-color: transparent;
}

.minus {
position: absolute;
top: .4rem;
right: 3.8rem;
border-radius: 50%;
}

.plus {
position: absolute;
top: .4rem;
right: 0;
border-radius: 50%;
}

.hidden {
  position: absolute;
  top: .3rem;
  right: 0;
  display: none;
}

.plus:hover, .minus:hover {
  background-color: orange;
  color: white;
  height: 2rem;
  width: 2rem;
}


