.navbar {
	height: 97vh;
    width: 30%;
    background-color: #e48826;
    display: inline-block;
	color: white;
	transition: .5s;
	overflow-x: hidden;

}

.logo{
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 3rem;
}

.navbar.active {
	width: 70px;
}

.navbar ul {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 5px;
	padding-top: 40px;
}

