a {
	width: 100%;
	position: relative;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    transition: transform .5s;
	text-decoration: none;
	display: inline-block;
}

a b:nth-child(1) {
	position: absolute;
	top: -20px;
	height: 20px;
	width: 100%;
	background-color: white;
	display: none;
}
a b:nth-child(1)::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom-right-radius: 20px;
	background-color: #e48826;
}

a b:nth-child(2) {
	position: absolute;
	bottom: -20px;
	height: 20px;
	width: 100%;
	background-color: white;
	display: none;
}
a b:nth-child(2)::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top-right-radius: 20px;
	background-color: #e48826;
}

a.active b:nth-child(1),
a.active b:nth-child(2) {
	display: block;
}
a.active {
	background-color: white;
}

a.active div {
	color: #e48826;

}
a.active div:hover {
	color: #e48826;
	text-decoration: underline 2px #e48826;

}
a div {
	text-decoration: none;
	color: white;
	position: relative;
	width: 100%;
	display: flex;
	transition: .3s all;
}

a div:hover {
	transform: scale(1.05);
	font-weight:bold;
	text-decoration: underline 3px white ;
}


a div .icon {
	position: relative;
	display: block;
	min-width: 60px;
	line-height: 50px;
	text-align: center;
	margin-top: 12px;
}

a div .icon {
	font-size: 1.5rem;
}

a div .title {
    font-size: 1.5rem;
	position: relative;
	display: block;
	padding-left: 60px;
	height: 60px;
	line-height: 60px;
	white-space: normal;
}

/* .toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: black;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toggle.active {
	background-color: red;
}

.toggle ion-icon {
	position: absolute;
	color: white;
	font-size: 34px;
	display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
	display: block;
}
.toggle ion-icon.close,
.toggle.active ion-icon.open {
	display: none;
} */
