
.orderButton {
    color: white;
    background-color: #a0b3a8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 20px;
    width: 40%;
    height: 3em;
    box-sizing: border-box;
    border: white 2px solid;
    transition: .5s all;
    margin-top: .5em;
}
.orderButton:hover {
    color: white;
    background-color: green;
    border: white 2px solid;
    transform: scale(1.05);
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.orderForm {
    padding: 1.5em;
    position: absolute;
    top: 100em;    
    width: 70%;
    background-image: linear-gradient(45deg, orange, white 50%, orange 110%);
    border-radius: 2em; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: 1s all;
}

.orderForm div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.namePhone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orderForm label {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
}
.orderForm input,textarea{
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    border: 2px rgb(184, 183, 182) solid;
    padding: .5em 1em;
    box-shadow: inset 2px 2px 10px 1px lightgray;
    transition: .5s all;
}
.invalidInputMessage {
    color: red;
    font-weight: bold;
    padding-left: 1.5em;
}

input:focus, textarea:focus{
    outline: none;
    transform: scaleX(1.03);
    border: 3px rgb(216, 112, 8) solid;
}
/* input:valid, textarea:valid{
   border: 2px green solid;
}
input:invalid, textarea:invalid{
   border: 2px red solid;
} */



.confirm {
    transform: translateY(-66em);
}